name: test-cicd-01

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install Java 21 SDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      
      - name: install docker env
        uses: docker/setup-docker-action@v4

      - name: build java app
        id: build
        run: ./gradlew clean build

      - name: build docker image
        id: build_docker
        if: success()
        run: ./gradlew bootBuildImage --imageName=ghcr.io/pedja75/test-app-01:latest
      
      - name: push docker image to github registry
        id: push_image
        if: success()
        run: docker push ghcr.io/pedja75/test-app-01:latest

